@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kane County Scanner</h1>
    <div class="container">
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="~/Content/Images/99991.jpg" class="img-thumbnail" alt="Scanned img 1" style="padding:16px;width:40%;border-color:red;border-width:5px">
                        <p>1 Data reader goes here.</p>
                    </div>

                    <div class="col-lg-4">
                        <img src="~/Content/Images/99992.jpg" class="img-thumbnail" alt="Scanned img 2" style="padding:16px;width:40%;border-color:green;border-width:5px">
                        <p>2 Data reader goes here.</p>
                    </div>

                    <div class="col-lg-4">

                        <img src="~/Content/Images/99994.jpg" class="img-thumbnail" alt="Scanned img 3" style="padding:16px;width:40%;border-color:red;border-width:5px">
                        <p>3 Data reader goes here.</p>

                    </div>

                </div>
                <input type="text" class="form-control" id="IDCardNumber" style="width:76px;align-content:center;margin:auto">
                <button type="submit" class="btn btn-default" style="margin:auto">Submit</button>
            </div>
        </form>
    </div>
</div>