@{
    ViewBag.Title = "Home Page";
}

@model DataLibrary.Models.EmployeeModel

@{
    Layout = null;
}

<!--<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>-->
<body>
    <div class="text-center">
        <h1 class="display-4">Kane County Scanner</h1>
        <div class="container">
            <form id="GetEmployeeForm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="~/Content/Images/99991.jpg" class="img-thumbnail" alt="Scanned img 1" style="padding:16px;width:40%;border-color:red;border-width:5px">
                            <p>1 Data reader goes here.</p>
                        </div>

                        <div class="col-lg-4">
                            <img src="~/Content/Images/99992.jpg" class="img-thumbnail" alt="Scanned img 2" style="padding:16px;width:40%;border-color:green;border-width:5px">
                            <p>2 Data reader goes here.</p>
                        </div>

                        <div class="col-lg-4">

                            <img src="~/Content/Images/99994.jpg" class="img-thumbnail" alt="Scanned img 3" style="padding:16px;width:40%;border-color:red;border-width:5px">
                            <p>3 Data reader goes here.</p>

                        </div>
                    </div>
                </div>
            </form>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th colspan="2" align="center">Employee ID barcode</th>
                    </tr>
                    <tr>
                        <td>IDCardNumber: </td>
                        <td>
                            @Html.TextBoxFor(m => m.IDCardNumber)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Submit" /></td>
                    </tr>
                </table>
            }
        </div>
    </div>
</body>
</html>