@model IEnumerable<ScannerApp2.Models.LocationModel>

@{
    ViewBag.Title = "LocationSelection";
}

<h2>LocationSelection</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccessLocationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccessLocationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationDesc)
        </td>
    </tr>
}

</table>
